/*Importar fuentes */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../img/fondo.jpg);
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#liveAlertPlaceholder {
  background-color: transparent;
}
.user_card {
  height: 550px;
  width: 500px;
  margin-top: auto;
  margin-bottom: auto;
  background: #e1b7ed;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
}

.brand_logo_container {
  position: absolute;
  height: 170px;
  width: 170px;
  top: -75px;
  border-radius: 50%;
  background-color: #e1b7ed;
  padding: 10px;
  text-align: center;
}
.brand_logo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid white;
}
.form_container {
  margin-top: 100px;
}

.btn-login {
  display: flex;
  justify-content: center;
}
